<h1>Hello <%=current_user.first_name + ' ' + current_user.last_name%></h1>

<div>

<% @users.each do |user| %>
  <p> <%= user.first_name %> </p>
  <p> <%= user.email %> </p>
  <% if current_user.pending_friends.any? {|f| f == user } %>
    <%= link_to "Cancel friend request", delete_friend_request_path(current_user.id, user.id), method: :delete%>
  <% else %>
    <%= link_to "Add friend", friend_request_path(user.id), method: :post %>
  <% end %>
<% end %>

<%= will_paginate %>
</div>
