<h1>Hello <%=current_user.first_name + ' ' + current_user.last_name%></h1>

<div>

<% @users.each do |user| %>
  <hr>
  <strong> <%= "#{user.first_name} #{user.last_name}" %> </strong>
  <p> <%= user.email %> </p>
  <% if current_user.pending_friends.any? {|f| f == user } %>
    <div class="decline len"> 
      <%= button_to "Cancel request", delete_friend_request_path(current_user.id, user.id), method: :delete %>
    </div>
  <% else %>
    <div class="accept len">
    <%= button_to "Add friend", friend_request_path(user.id), method: :post %>
    </div>
  <hr>
  <% end %>
<% end %>

<%= will_paginate %>
</div>
