<h2>Odin Book</h2>
<div class="d-flex justify-content-center flex-lg-row flex-md-row flex-column mt-5">
   <div class="forms pb-5 col-lg-5 col-md-5">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="pt-2 shadow pb-4 mt-5 container col-lg-7 col-md-12 mb-5">
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "bg-light" %>
        </div>

        <div class="field">
          <%= f.password_field :password, class: "bg-light" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-3">
            <%= f.check_box :remember_me %>
          </div>
        <% end %>

        <div class="actions d-flex justify-content-center mt-3">
          <%= f.submit "Log in" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
